*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background: linear-gradient(red, rgb(255, 221, 192));
    padding: 20px;
    height: 100vh;
}

#heading{
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

#container{
    display: flex;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}

#leftBox, #rightBox{
    background: white;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
}

label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

textarea{
    height: 70px;
    resize: none;
}

button{
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background:linear-gradient(red, rgb(220, 166, 4));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#topBtns{
    display: flex;
    gap: 10px;
}

#msg{
    margin-top: 20px;
    color: gray;
}

.eachList{
    background: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
    border-left: 5px solid #667eea;
}

.eachList button{
    background: crimson;
    margin-top: 5px;
}